<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<html>

<head> POST API HERE</head>
<body>
<form #userForm="ngForm" (ngSubmit)="postUser(userForm.value)">
    <label>Username</label>
    <input type="text"name='username' ngModel placeholder="enter username">
    <label>Password</label>
    <input type="password" name='password' ngModel placeholder="enter password">
    <label>Email</label>
    <input type="email" name='email' ngModel placeholder="enter email">
    <button type="submit">Add new User</button>

</form>
</body>
</html>


    <form #masterform="ngForm" (ngSubmit)="getUserdetails(masterform.value)" >

        <input type="text" ngModel name="username" placeholder="Enter your Username">
        <br>
 
        <input type="password" ngModel name="password" placeholder="Enter Password">
        <br>
    
        <input type="email" ngModel name="email" placeholder="Ener your Email">
        <br>
        <button type="submit">Add NewUser</button>
    </form>


    <button (click)="kumar()">Interval</button>

    <table>
        <tbody style="width:100%">
            <tr>
                <th>S.NO</th>
                <th>Name</th>
                <th>Password</th>
                <th>Email</th>
            </tr>
            <tr *ngFor="let bhar of valusers">
            <td>{{bhar.id}}</td>
            <td>{{bhar.Username}}</td>
            <td>{{bhar.password}}</td>
            <td>{{bhar.email}}</td>
            <!-- <td><button (click)="delete()">Delete</button></td> -->
            </tr>
        </tbody>
    </table>
    
</body>
</html>