<p>register works!</p>
<div> <Label>Template driven Forms</Label>
    <form name='form' #formTd="ngForm" (ngSubmit)="formTd.form.valid && onSubmit()" novalidate
        >

        <div class="form-group">
            <label>username</label>
            <input type='text' class="form-control" name="username" [(ngModel)]="form1.username" required
                #username="ngModel" [ngClass]="{'is-invalid': formTd.submitted && username.errors}">
        </div>
        <div class="form-group">
            <label>firstname</label>
            <input type="text" class="form-control" name="firstname" [(ngModel)]="form1.firstname" required minlength="5" maxlength="10"
            #firstname="ngModel" [ngClass]="{'is-invalid': formTd.submitted && firstname.errors}">
        </div>
        <div class="form-group">
            <label>lastname</label>
            <input type="text" class="form-control" name="lastname" [(ngModel)]="form1.lastname" required minlength="5" maxlength="9"
            #lastname="ngModel" [ngClass]="{'is-invalid': formTd.submitted && lastname.errors}">
        </div>
        <div class="form-group">
            <label>password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="form1.password" required minlength="5" maxlength="7"
            #password="ngModel" [ngClass]="{'is-invalid': formTd.submitted && password.errors}">
        </div>
        <div class="form-group">
            <label>confirmpassword</label>
            <input type="password" class="form-control" name="confirmpassword" [(ngModel)]="form1.confirmpassword" required minlength="5" maxlength="7"
            #confirmpassword="ngModel" [ngClass]="{'is-invalid': formTd.submitted && confirmpassword.errors}">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
            <button type="button" (click)="reset(formTd)" class="btn btn-warning float-right">
                Reset
            </button>
        </div>


    </form>
</div>