<p>home works!</p>

<ul>
    <li><a [routerLink]="['/carrers']">Carrers</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a [routerLink]="['/rest']">Contact</a></li>
  </ul>


<!-- <br>
  <nav>
    <a 
       routerLink="/about"
       routerLinkActive="activebutton"
       ariaCurrentWhenActive="page">
      About
    </a> |
    
  </nav> -->

<!-- <h1>Murali</h1>  -->

<button type="button" (click)="logoutuser()">Logout</button>
<router-outlet></router-outlet>

<!-- <router-outlet></router-outlet> -->

<!-- <table >
    <tbody style="width:100%">
        <tr>
            <th>S.no.</th>
            <th>Name</th>
            <th>Email</th>
            <th>UserName</th>
        </tr>
        <tr *ngFor="let elements of krishh">
            <td>{{elements.id}}</td>
            <td>{{elements.name}}</td>
            <td>{{elements.email}}</td>
            <td>{{elements.username}}</td>
        </tr>
    </tbody>
</table> -->
