<p>carrers works!</p>

<h3>Welcome to Carrers</h3>

<table>
    <tbody>
        <ng-container *ngFor="let item of dataList;let i = index">
        <tr *ngIf="i == 0">
            <th>{{getkeys(item.Employee)[0]}}</th>
            <th>{{getkeys(item.Employee)[1]}}</th>
        </tr>
        <tr>
            <td>{{item.Employee.Name.First}} {{item.Employee.Name.Last}}</td>
            <td>{{getkeys(item.Employee.Address)[0]}} - {{item.Employee.Address.HouseNo}}, {{item.Employee.Address.State}}, {{item.Employee.Address.Country}}</td>
        </tr>
    </ng-container>
    </tbody>
</table>
