<p>search-box works!</p>
<table>
    <input type="text" class="form-control" id="getdunzo" [(ngModel)]="searchText">
    <button (click)="bret()">Get Bret</button>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
    </tr>
    <tr *ngFor="let dunzo of listArr | filtered: searchText">
      <td>{{ dunzo.username }}</td>
      <td>{{ dunzo.name }}</td>
      <td>{{ dunzo.email }}</td>
    </tr>
  </table>
  <input type="radio" placeholder="yes">
  <input type="radio" placeholder="no">
  <button type="menu">hello</button>