<!-- <router-outlet></router-outlet> -->

<header class="header">
    <h1 class="title">LIST SEARCH</h1>
    
</header>
<div class="center">
    
    <div class="container">
        <form [formGroup]="lform" (ngSubmit)="getValidate()">
            <label> Username</label>
            <input type="text" name="username" formControlName="username" placeholder="Enter username "> 
            <label> password</label>
            <input type="password" name="password" formControlName="password" placeholder="Enter password"> 
            <button type="submit">Login</button>
        </form>
       <p></p> 
    </div>
</div>
<footer class="footer">
    <p> © Copyright 2022, All rights reserved Goutham Krishna </p>
</footer>