<header class="header">
    <h1 class="title">LIST SEARCH</h1>
</header>
<div class="center">
    
    <div class="container">
        <form [formGroup]="lform" (ngSubmit)="login()">
            <label> Username</label>
            <input type="text" placeholder="Enter username" autocomplete="off" id="unameid" name="uname" formControlName="uname"> 
            <br>
            <label> password</label>
            <input type="password" placeholder="Enter password" autocomplete="off" id="upwdid" name="upwd" formControlName="upwd"> 
            <br>
            <label> mobilenums</label>
            <div formArrayName="mobilenums">
                <div *ngFor ="let skill of lform.controls['mobilenums']['controls'];  index as i" >
            
           Mobile number {{i}} <input type="text" placeholder="Enter mobilenums" id="mobilenums" name="mobilenums" formControlName="{{i}}"> 
           <button (click)="delete(i)">Delete</button>
                </div>
         <button (click)="addMnum()">Add mobilenums</button>
            </div>
            <button class="but" type="submit">Login</button>
            <br>
        <a href="Signup for registration">Register</a>


        </form>
    </div>
    <div>
    </div>
</div>
<footer class="footer">
    <p> © Copyright 2022, All rights reserved Goutham Krishna </p>
</footer>

<html>
<label>Enter your value here</label>
 <input type="text" [(ngModel)]="count">

<button (click)="incre()">Increment</button>
<button (click)="decre()">Decrement</button>
</html>